<odoo>

    <menuitem id="menu_hispanmusic_campanas_root" name="Campañas" sequence="10"
        groups="igb_hispanmusic.group_hispanmusic_admin,igb_hispanmusic.group_hispanmusic_usuario"/>

    <menuitem id="menu_campanas_playlists" name="Playlists"
        parent="menu_hispanmusic_campanas_root" sequence="20"
        groups="igb_hispanmusic.group_hispanmusic_admin,igb_hispanmusic.group_hispanmusic_usuario"/>

    <menuitem id="menu_campanas_web" name="Página Web"
        parent="menu_hispanmusic_campanas_root" sequence="30"
        groups="igb_hispanmusic.group_hispanmusic_admin,igb_hispanmusic.group_hispanmusic_usuario"/>

    <menuitem id="menu_campanas_playlist" name="Campañas"
        parent="menu_campanas_playlists" sequence="10"
        action="action_playlist_campana_tree"
        groups="igb_hispanmusic.group_hispanmusic_admin,igb_hispanmusic.group_hispanmusic_usuario"/>

    <menuitem id="menu_tipo_campana_playlist" name="Tipos de Campaña (Playlists)"
        parent="menu_campanas_playlists" sequence="20"
        action="action_tipo_campana_playlist_tree"
        groups="igb_hispanmusic.group_hispanmusic_admin,igb_hispanmusic.group_hispanmusic_usuario"/>

    <menuitem id="menu_tipo_campana_web" name="Tipos de Campaña (Página Web)"
        parent="menu_campanas_web" sequence="40"
        action="action_tipo_campana_web_tree"
        groups="igb_hispanmusic.group_hispanmusic_admin,igb_hispanmusic.group_hispanmusic_usuario"/>

</odoo>
