<odoo>
    <menuitem id="menu_hispanmusic_artistas_root" name="Artistas" sequence="10" groups="igb_hispanmusic.group_hispanmusic_admin,igb_hispanmusic.group_hispanmusic_marketing"/>

    <menuitem id="menu_artistas" name="Artistas" parent="menu_hispanmusic_artistas_root" sequence="20" action="action_artista_tree" groups="igb_hispanmusic.group_hispanmusic_admin,igb_hispanmusic.group_hispanmusic_marketing"/>

    <menuitem id="menu_canciones" name="Canciones" parent="menu_hispanmusic_artistas_root" sequence="30" action="action_cancion_tree" groups="igb_hispanmusic.group_hispanmusic_admin,igb_hispanmusic.group_hispanmusic_marketing"/>
</odoo>